[project]
	description = Welcome repo for ReviewNinja to help you get started. Feel free to delete when you're done, we won't take it personally.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Strickland (dstrickland-mdl)
[access "refs/for/refs/*"]
	read = group user/David Strickland (dstrickland-mdl)
	push = group user/David Strickland (dstrickland-mdl)
	label-Code-Review = -2..+2 group user/David Strickland (dstrickland-mdl)
	label-Verified = -1..+1 group user/David Strickland (dstrickland-mdl)
	rebase = group user/David Strickland (dstrickland-mdl)
	removeReviewer = group user/David Strickland (dstrickland-mdl)
	submit = group user/David Strickland (dstrickland-mdl)
[access "refs/heads/*"]
	read = group user/David Strickland (dstrickland-mdl)
	create = group user/David Strickland (dstrickland-mdl)
	push = +force group user/David Strickland (dstrickland-mdl)
	pushMerge = group user/David Strickland (dstrickland-mdl)
[access "refs/tags/*"]
	push = +force group user/David Strickland (dstrickland-mdl)
	pushTag = group user/David Strickland (dstrickland-mdl)
	pushSignedTag = group user/David Strickland (dstrickland-mdl)
